{% comment %}
	This snippet prints a product item for todays flavors

	Usage:
		{% include 'product-todaysflavor' %}

	Return:
		HTML direct output

	Required:
		- none -
{% endcomment %}

<li class="todaysflavor-item">
	<div class="todaysflavor-content">
		<p class="todaysflavor-title">{{ product.title }}</p>

		<div class="todaysflavor-imgs">
			{% for tag in product.tags %}
				{% capture image %}{{ tag }}.png{% endcapture %}
				<img class="todaysflavor-img" src="{{ image | asset_url }}" alt="{{ tag | strip_html }}">
			{% endfor %}
		</div>
	</div>
</li>