/***************************************************************************************************************************************************************
 *
 * Fonts
 *
 **************************************************************************************************************************************************************/


@css {
	@font-face {
		font-family: 'r2rfont-book';
		src: url('r2rfont-book-webfont.eot');
		src: url('r2rfont-book-webfont.eot?#iefix') format('embedded-opentype'),
			url('r2rfont-book-webfont.woff2') format('woff2'),
			url('r2rfont-book-webfont.woff') format('woff'),
			url('r2rfont-book-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'r2rfont';
		src: url('r2rfont-webfont.eot');
		src: url('r2rfont-webfont.eot?#iefix') format('embedded-opentype'),
			url('r2rfont-webfont.woff2') format('woff2'),
			url('r2rfont-webfont.woff') format('woff'),
			url('r2rfont-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
}