/***************************************************************************************************************************************************************
 *
 * Account styles
 *
 **************************************************************************************************************************************************************/


.account
	.account-address
		padding 12px
		border 1px solid color1