/***************************************************************************************************************************************************************
 *
 * Button styles
 *
 **************************************************************************************************************************************************************/


.btn
	display inline-block
	background-color color1
	border-radius 50%
	padding 1em 0
	width 130px
	color #fff
	text-align center
	letter-spacing 1px
	font-family brand-font1
	text-transform uppercase
	transition background 0.3s ease

	&:hover
		background-color color2
		color #fff

	&.btn-two
		background-color color2

		&:hover
			background-color color1

	&.btn-three
		background-color color3