/***************************************************************************************************************************************************************
 *
 * Cart styles
 *
 **************************************************************************************************************************************************************/


.cart
	.cart-table
		width 100%
		background #fff

		.cart-table-headline th
			background-color shade1
			border-bottom 12px solid #fff
			font-weight 300

		.cart-table-headline th
		.cart-table-body td
		.cart-table-total td
			padding 15px
			font-size 18px
			text-transform uppercase
			text-align left

		.cart-table-headline th
		.cart-table-body .cart-table-quantity
			font-size 14px
			padding-right 6px

			@media media-sm
				font-size 18px
				padding-right 15px

		.cart-table-body td
			background-color shade2

		.cart-table-total td
			background-color #fff

		.cart-table-price
		.cart-table-total
			display none

			@media media-sm
				display table-cell

		.quantity
			font-size 14px

		.cart-table-remove-btn
			padding 12px



	.cart-bottom
		margin 24px 0
		min-height 120px

	.cart-btn
		margin 24px 0

	// .cart-tac:not(:checked) + .cart-tac-label + .cart-btn-wrapper
	.cart-btn-wrapper
		display none

	.cart-tac-label
		margin 24px 0

	.cart-tac
		&:checked
			&+ .cart-tac-label + .cart-btn-wrapper
				display block