/***************************************************************************************************************************************************************
 *
 * Footer styles
 *
 **************************************************************************************************************************************************************/

footer
	.bottom
		border-top 1px solid color1
		padding-top 8px

	.list-flat
		@media media-max-sm
			li
				float left
				width 50%
				text-align right

				&+ li:before
					display none

				&:nth-child(odd)
					text-align left