/***************************************************************************************************************************************************************
 *
 * Form styles
 *
 **************************************************************************************************************************************************************/


.form
	.form-msg
		margin 12px 0
		padding 12px
		border 1px solid color1

		&.is-ok
			color green

		&.has-error
			color red

	.form-list
		list-style none
		padding 0
		margin 0
		display inline-block

	.form-list-item
		display block
		overflow hidden
		margin 6px 0

	.form-label
	.form-input
		display block

		@media media-sm
			display inline-block
			width auto

	.form-label
		margin-right 12px
		min-width 150px
		padding 3px

	.form-inputtext
	.form-input
		min-width 200px
		padding 3px
		border 1px solid color1

	.form-note
		display block
		text-align right
		margin-right 3px

	.form-btn
		margin-top 18px
		width 100%

		@media media-sm
			margin-left 190px
			width auto
