/***************************************************************************************************************************************************************
 *
 * Key styles
 *
 **************************************************************************************************************************************************************/


.key
	list-style none
	padding 0 0 12px 0
	margin 12px 0
	border-bottom 1px solid color1
	overflow hidden

	.key-item
		float left
		vertical-align middle
		color color2
		font-weight 900
		margin-right 18px
		text-transform uppercase
		min-height 60px

		&.key-item-headline
			color color1
			width 120px

		img
			height 25px
			width auto
			vertical-align middle
			margin 17px 6px