/***************************************************************************************************************************************************************
 *
 * page styles
 *
 **************************************************************************************************************************************************************/


.subtitle
	font-family brand-font1
	text-transform uppercase
	font-size 25px
	color color1
	border-top 1px solid color1
	margin 12px 0
	padding-top 12px

	@media media-sm
		font-size 40px

.bottom
	margin-top 24px
	overflow hidden

	.btn
		margin-bottom 12px

	@media media-sm
		.btn
			float left
			margin 0 24px 24px 0

		.bottom-content
			display inline