/***************************************************************************************************************************************************************
 *
 * Product styles
 *
 **************************************************************************************************************************************************************/


.products
	.products-key-wrapper
		*zoom:1
		&:before,
		&:after
			content:""
			display:table
		&:after
			clear:both

	.products-key
		float left
		margin-left 33%
		position relative
		width 180px
		height 140px
		top 18px

		.products-key-bubble
		.products-key-size
			position absolute
			z-index 10

		.products-key-size
			top 52px

		&.products-key-epic
			.products-key-bubble
				left 3px
				top 31px

			.products-key-size
				width 89px
				height auto
				top 86px
				left 40px

		&.products-key-sumo
			margin-left 12px

			.products-key-size
				left 20px
				width 134px
				height 86px

		&.products-key-topping
			height 53px

.product-list
	list-style none
	padding 1em
	margin 0
	overflow hidden
	background #fff no-repeat right center

.product-item
	display block

.product-form
	clear both

	.product-title
		float left
		width 33%

	.product-addbox
		float left