/***************************************************************************************************************************************************************
 *
 * Servings styles
 *
 **************************************************************************************************************************************************************/


.servings
	list-style none
	padding 0
	margin 0
	overflow hidden

	.serving
		float left
		width 100%
		min-height 215px
		padding 12px

		@media media-sm
			width 135px

	.serving-img
		width 135px
		height auto
		display block
		margin 0 auto

	.serving-headline
		color color3

	.serving-content
		@media media-sm
			font-size 14px