/***************************************************************************************************************************************************************
 *
 * Table styles
 *
 **************************************************************************************************************************************************************/


.table-wrapper
	overflow auto

.table
	width 100%
	background #fff

	.table-headline th
		background-color shade1
		border-bottom 12px solid #fff
		font-weight 300

	.table-headline th
	.table-body td
	.table-total td
	.table-footer td
		padding 15px
		font-size 18px
		text-transform uppercase
		text-align left

	.table-headline th
	.table-body .table-quantity
		font-size 14px
		padding-right 6px

		@media media-sm
			font-size 18px
			padding-right 15px

	.table-body td
		background-color shade2
		font-size 14px

		@media media-sm
			font-size 18px

	.table-body.table-body-greeting
		border-bottom 6px solid #fff

		td
			position relative

			p
				text-transform none
				margin .5em 0

	.table-total td
	.table-footer td
		background-color #fff

	.table-datepicker td
		background-color shade2
		padding 12px
		text-align right

		label
			margin-right 12px

		.cart-datepicker
			padding 0.9em
			text-align center
			letter-spacing 1px
			font-family brand-font1
			border 0.05em solid color1

	.table-price
		display none

		@media media-sm
			display table-cell

	.table-subtotal-addition
		display block
		text-transform none
		font-size 0.7em

	.table-remove-btn
		padding 12px