/***************************************************************************************************************************************************************
 *
 * Product styles
 *
 **************************************************************************************************************************************************************/


.todaysflavor
	.todaysflavor-list
		overflow hidden
		list-style none
		padding 0
		margin 0

	.todaysflavor-item
		float left
		background #fff
		// border 2px solid color1
		width 33%
		text-align center
		font-size 18px
		font-weight 700
		color color1
		min-height 80px

	.todaysflavor-title
		margin 1em