/***************************************************************************************************************************************************************
 *
 * Toggle styles
 *
 **************************************************************************************************************************************************************/


.toggle-hidden
	display none