{% comment %}---------------------------------------------------------------------------------------------------------------------------------------------------
	CONTENT
------------------------------------------------------------------------------------------------------------------------------------------------{% endcomment %}
<article class="content">
	<div class="content-text">{{ page.content }}</div>
</article>