{% comment %}---------------------------------------------------------------------------------------------------------------------------------------------------
	CONTENT
------------------------------------------------------------------------------------------------------------------------------------------------{% endcomment %}
<article class="content">
	<h2 class="subtitle">{{ page.title }}</h2>

	<div class="content-text">{{ page.content }}</div>
</article>