{% comment %}---------------------------------------------------------------------------------------------------------------------------------------------------
	CONTENT
------------------------------------------------------------------------------------------------------------------------------------------------{% endcomment %}
<section class="products">
	{% include 'product-detail' %}
</section>